<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Demo</title>
    <link rel="stylesheet" href="js/element-ui/2.14.0/theme-chalk/index.min.css">
    <style>
        .main-block {
            padding: 10px;
        }

        .block-header {
            font-size: 15px;
            font-weight: bold;
        }

        .block-body {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <!--布局头部信息-->
        <el-header>
            <div class="main-block">
                <div class="block-header"><span>实现方式</span></div>
                <div class="block-body">
                    <el-radio-group v-model="connectType" size="small" @change="connectTypeChange">
                        <el-radio-button label="websocket">WebSocket</el-radio-button>
                        <el-radio-button label="socketJs">SocketJS</el-radio-button>
                        <el-radio-button label="socketJsStomp">SocketJS + stomp</el-radio-button>
                    </el-radio-group>
                </div>
            </div>
        </el-header>
        <el-main>
            <div class="main-block">
                <div class="block-header"><span>控制开关</span></div>
                <div class="block-body">
                    <el-button @click="handConnect" type="primary" :disabled="isConnected" size="small">手动连接</el-button>
                    <el-button @click="handDisConnect" type="danger" :disabled="!isConnected" size="small">断开连接
                    </el-button>
                </div>
            </div>
            <!--websocket 连接方式-->
            <div v-show="connectType == 'websocket'">
                <!--WebSocket消息类型-->
                <div class="main-block">
                    <div class="block-header"><span>发送消息类型</span></div>
                    <div class="block-body">
                        <el-radio-group v-model="messageType" size="small" @change="messageTypeChange">
                            <el-radio-button label="generic">泛型消息</el-radio-button>
                            <el-radio-button label="text">文本消息</el-radio-button>
                            <el-radio-button label="decorator">文本消息（装饰器模式）</el-radio-button>
                            <el-radio-button label="binary">二进制消息</el-radio-button>
                        </el-radio-group>
                    </div>
                </div>
                <!--内容区域-->
                <div class="main-block">
                    <div class="block-header"><span>消息内容</span></div>
                    <div class="block-body">
                        <el-input v-model="message" placeholder="请输入发送的内容"></el-input>
                        <el-button @click="sendMessage" type="primary" :disabled="!isConnected">发送消息</el-button>
                    </div>
                </div>
            </div>
            <div class="main-block" v-show="connectType == 'socketJs'">
                <div class="block-header"><span>发送消息类型</span></div>
                <div class="block-body">
                    <el-radio-group v-model="messageType" size="small" @change="messageTypeChange">
                        <el-radio-button label="generic">泛型消息</el-radio-button>
                        <el-radio-button label="text">文本消息</el-radio-button>
                        <el-radio-button label="decorator">文本消息（装饰器模式）</el-radio-button>
                        <el-radio-button label="binary">二进制消息</el-radio-button>
                    </el-radio-group>
                </div>
            </div>
            <!--SocketJS + stomp 连接方式-->
            <div v-show="connectType == 'socketJsStomp'">
                <el-row :gutter="20">
                    <!--发送消息配置-->
                    <el-col :span="12">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>发送消息配置</span>
                            </div>
                            <el-row>
                                <el-col :span="8">
                                    <!--发送消息时是否增加消息前缀-->
                                    <div class="main-block">
                                        <div class="block-header"><span>是否携带前缀</span></div>
                                        <div class="block-body">
                                            <!--目的地址-->
                                            <el-radio-group v-model="isAddDestinationPrefix" size="small">
                                                <el-radio-button :label="true">携带</el-radio-button>
                                                <el-radio-button :label="false">不携带</el-radio-button>
                                            </el-radio-group>
                                        </div>
                                    </div>
                                </el-col>
                                <el-col :span="8" v-show="isAddDestinationPrefix">
                                    <div class="main-block">
                                        <div class="block-header"><span>ApplicationDestinationPrefix</span></div>
                                        <div class="block-body">
                                            <!--目的地址-->
                                            <el-radio-group v-model="applicationDestinationPrefix" size="small">
                                                <el-radio-button label="/coding">/coding</el-radio-button>
                                                <el-radio-button label="/gaming">/gaming</el-radio-button>
                                            </el-radio-group>
                                        </div>
                                    </div>
                                </el-col>
                                <el-col :span="8">
                                    <div class="main-block">
                                        <div class="block-header"><span>发送消息目的地</span></div>
                                        <div class="block-body">
                                            <!--目的地址-->
                                            <el-radio-group v-model="destination" size="small">
                                                <el-radio-button label="/destination1">目的地1</el-radio-button>
                                                <el-radio-button label="/destination2">目的地2</el-radio-button>
                                                <el-radio-button label="/destination3">目的地3</el-radio-button>
                                            </el-radio-group>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24">
                                    <!--内容区域-->
                                    <div class="main-block">
                                        <div class="block-header"><span>消息内容</span></div>
                                        <div class="block-body">
                                            <el-input v-model="message" placeholder="请输入发送的内容">
                                                <el-button @click="sendStompMessage" type="primary"
                                                           :disabled="!isConnected" slot="append">发送消息
                                                </el-button>
                                            </el-input>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                    <!--订阅消息配置-->
                    <el-col :span="12">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>订阅消息配置</span>
                            </div>
                            <el-row>
                                <el-col :span="8">
                                    <div class="main-block">
                                        <div class="block-header"><span>是否携带前缀</span></div>
                                        <div class="block-body">
                                            <!--目的地址-->
                                            <el-radio-group v-model="isAddBrokerPrefix" size="small">
                                                <el-radio-button :label="true">携带</el-radio-button>
                                                <el-radio-button :label="false">不携带</el-radio-button>
                                            </el-radio-group>
                                        </div>
                                    </div>
                                </el-col>
                                <el-col :span="8" v-show="isAddBrokerPrefix">
                                    <div class="main-block">
                                        <div class="block-header"><span>SimpleBrokerDestinationPrefixes</span></div>
                                        <div class="block-body">
                                            <!--目的地址-->
                                            <el-radio-group v-model="brokerDestinationPrefix" size="small">
                                                <el-radio-button label="/topic">/topic</el-radio-button>
                                                <el-radio-button label="/queue">/queue</el-radio-button>
                                                <el-radio-button label="/xgoding">/xgoding</el-radio-button>
                                            </el-radio-group>
                                        </div>
                                    </div>
                                </el-col>
                                <el-col :span="8">
                                    <div class="main-block">
                                        <div class="block-header"><span>订阅消息目的地</span></div>
                                        <div class="block-body">
                                            <!--目的地址-->
                                            <el-radio-group v-model="destination" size="small">
                                                <el-radio-button label="/destination1">目的地1</el-radio-button>
                                                <el-radio-button label="/destination2">目的地2</el-radio-button>
                                                <el-radio-button label="/destination3">目的地3</el-radio-button>
                                            </el-radio-group>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24">
                                    <div class="main-block">
                                        <div class="block-header"><span>订阅/取消订阅</span></div>
                                        <div class="block-body">
                                            <!--订阅消息目的地前缀-->
                                            <el-button @click="subscribeMessage" type="primary" :disabled="!isConnected"
                                                       size="small">订阅消息
                                            </el-button>
                                            <el-button @click="unSubscribeMessage" type="danger"
                                                       :disabled="!isConnected" size="small">取消订阅
                                            </el-button>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-card>
                    </el-col>
                </el-row>

            </div>

            <!--相应消息-->
            <div class="main-block">
                <div class="block-header"><span>服务器响应</span></div>
                <div class="block-body" style="height: 500px">
                    <el-table :data="msgDatas" stripe max-height="500" size="small" :border="true">
                        <el-table-column
                                prop="time"
                                label="时间"
                                width="200">
                        </el-table-column>
                        <el-table-column
                                prop="content"
                                label="内容">
                        </el-table-column>
                    </el-table>
                </div>
            </div>

        </el-main>
    </el-container>
</div>
</body>
<script src="js/sockjs.min.js"></script>
<script src="js/stompjs@5.0.0/stomp.umd.min.js"></script>
<script src="js/vue/2.5.21/vue.min.js"></script>
<script src="js/element-ui/2.14.0/index.min.js"></script>
<script>
    //泛型消息端点
    const wsGenericEndpoint = "ws://localhost:8080/demo/myHandler";
    //文本消息端点
    const wsTextEndpoint = "ws://localhost:8080/demo/myTextHandler";
    //二进制端点
    const wsBinaryEndpoint = "ws://localhost:8080/demo/myBinaryHandler";
    //文本消息端点（装饰器）
    const wsDecoratorTextEndpoint = "ws://localhost:8080/demo/myDecoratorTextHandler";

    var app = new Vue({
        el: "#app",
        data: function () {
            return {
                //连接状态
                isConnected: false,
                //连接类型
                connectType: 'socketJsStomp',
                //消息实体
                message: null,
                //websocket对象
                ws: null,
                //SocketJS对象
                sock: null,
                //Stomp 对象
                stompClient: null,
                //消息类型
                messageType: 'generic',
                //目的地址
                destination: '/destination1',
                //是否增加ApplicationDestinationPrefix
                isAddDestinationPrefix: true,
                applicationDestinationPrefix: '/coding',
                //是否携带订阅消息前缀
                isAddBrokerPrefix: true,
                brokerDestinationPrefix: '/topic',
                //服务器消息列表
                msgDatas: []
            };
        },
        methods: {
            handConnect() {
                switch (this.connectType) {
                    case "websocket":
                        this.webSocketConnect();
                        break;
                    case "socketJs":
                        this.socketJsConnect();
                        break;
                    case "socketJsStomp":
                        this.socketJsStompConnect();
                        break;
                }
            },
            handDisConnect() {
                switch (this.connectType) {
                    case "websocket":
                        this.webSocketDisconnect();
                        break;
                    case "socketJs":
                        this.socketJsDisConnect();
                        break;
                    case "socketJsStomp":
                        break;
                }
            },
            /**
             * 消息类型改变
             * @param value 改变后的值
             */
            messageTypeChange(value) {
                if (this.isConnected) {
                    this.handDisConnect();
                }
                this.handConnect();
            },
            /**
             * 连接类型改变
             * @param value 改变后的值，如何取得改变前的值？
             */
            connectTypeChange(value) {
                console.log(value);
                if (this.isConnected) {
                    this.webSocketDisconnect();
                }
                this.webSocketConnect();
            },
            /**
             * webSocket连接
             */
            webSocketConnect() {
                var that = this;
                if (this.isConnected) {
                    that.$message.error('不能重复连接');
                    return;
                }
                //创建websocket对象
                let endpoint;
                switch (this.messageType) {
                    case "generic":
                        endpoint = wsGenericEndpoint;
                        break;
                    case "text":
                        endpoint = wsTextEndpoint;
                        break
                    case "binary":
                        endpoint = wsBinaryEndpoint;
                        break
                    case "decorator":
                        endpoint = wsDecoratorTextEndpoint;
                        break;
                    default:
                        endpoint = wsGenericEndpoint;
                }
                this.ws = new WebSocket(endpoint);
                //监听连接状态
                this.ws.onopen = function (event) {
                    that.isConnected = true;
                    that.$message.success('连接成功');
                }
                //监听连接错误
                this.ws.onerror = function (event) {
                    that.$message.error('发生错误');
                    that.msgDatas.push({time: event.timeStamp, content: event.reason});
                    console.log('WebSocket error occur', event);
                }
                //监听消息
                this.ws.onmessage = function (event) {
                    that.$message.info('收到消息');
                    console.log("WebSocket message received", event);
                    that.msgDatas.push(JSON.parse(event.data));
                };
                //监听关闭
                this.ws.onclose = function (event) {
                    that.isConnected = false;
                    that.$message.info("连接断开");
                    that.msgDatas.push({time: event.timeStamp, content: event.reason});
                    console.log("WebSocket disconnect", event);
                };
            },
            /**
             * 断开连接
             */
            webSocketDisconnect() {
                if (!this.isConnected) {
                    this.$message.error("连接已关闭，无法关闭！");
                    return;
                }
                this.ws.close(1000, "手动关闭");
            },
            /**
             * SocketJS连接
             */
            socketJsConnect() {
                if (this.isConnected) {
                    that.$message.error('不能重复连接');
                    return;
                }
                let that = this;
                that.sock = new SockJS('http://localhost:8080/demo/myHandler');
                that.sock.onopen = function () {
                    console.log('open');
                    that.sock.send('test');
                    that.isConnected = true;
                };
                that.sock.onmessage = function (e) {
                    console.log('message', e.data);
                    //that.sock.close();
                };

                that.sock.onclose = function () {
                    console.log('close');
                    that.isConnected = false;
                };
            },
            /**
             * SocketJS断开连接
             */
            socketJsDisConnect() {
                this.sock.close();
            },
            /**
             * stomp方式连接
             */
            socketJsStompConnect() {
                let that = this;
                if (this.isConnected) {
                    that.$message.error('不能重复连接');
                    return;
                }
                this.stompClient = new StompJs.Client({
                    //brokerURL: 'ws://localhost:8080/demo/notification',
                    connectHeaders: {
                        login: 'user',
                        passcode: 'password',
                    },
                    debug: function (str) {
                        console.log(str);
                    },
                    reconnectDelay: 5000,
                    heartbeatIncoming: 1000,
                    heartbeatOutgoing: 1000,
                });
                this.stompClient.webSocketFactory = function () {
                    return new SockJS("http://localhost:8080/demo/socketJsStomp");
                };
                this.stompClient.onConnect = function (frame) {
                    console.log("Stomp onConnect:", frame);
                    that.isConnected = true;
                };
                this.stompClient.onStompError = function (frame) {
                    // Will be invoked in case of error encountered at Broker
                    // Bad login/passcode typically will cause an error
                    // Complaint brokers will set `message` header with a brief message. Body may contain details.
                    // Compliant brokers will terminate the connection after any error
                    console.log('Stomp Broker reported error: ' + frame.headers['message']);
                    console.log('Stomp Additional details: ' + frame.body);
                };
                this.stompClient.onDisconnect = function (frame) {
                    console.log("Stomp disconnect", frame);
                    that.isConnected = false;
                }
                this.stompClient.activate();
            },
            /**
             * 发送文本消息
             */
            sendMessage() {
                this.ws.send(this.message);
                this.$message.info("消息发送成功！");
            },
            /**
             * 发送ping/pong消息
             */
            sendPingPong() {
                //There is no javascript API to send ping frames or receive pongs frame.
                //https://stackoverflow.com/questions/10585355/sending-websocket-ping-pong-frame-from-browser
            },
            /**
             * 发送STOMP消息
             */
            sendStompMessage() {
                //向目的地发送消息
                let that = this;
                let addr = "";
                addr = (that.isAddDestinationPrefix ? that.applicationDestinationPrefix : '') + that.destination;
                this.stompClient.publish({
                    destination: addr,
                    body: that.message,
                    headers: {
                        priority: '9'
                    }
                });
            },
            /**
             * 订阅消息
             */
            subscribeMessage() {
                //订阅消息
                let that = this;
                let headers = {ack: 'client'}
                let addr = '';
                if (that.isAddBrokerPrefix) {
                    addr += that.brokerDestinationPrefix + that.destination;
                } else {
                    addr = that.destination;
                }
                that.subscription = this.stompClient.subscribe(addr, function (message) {
                    console.log("Stomp msg receive", message);
                    that.msgDatas.push(JSON.parse(message.body));
                }, headers);
            },
            /**
             * 取消订阅
             */
            unSubscribeMessage() {

            }
        },
        mounted() {
            this.handConnect();
        },
        beforeDestroy() {
            this.handDisConnect();
        }
    });
</script>
</html>